<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Readme</key>
	<string>businessName和rootClass可以不一致，rootClass为模块(组件)入口类</string>
	<key>WhiteList</key>
	<array>
		<dict>
			<key>businessName</key>
			<string>AppConfiguration</string>
			<key>businessDesc</key>
			<string>应用配置(包括第三方SDK配置、第三方控件样式配置等)</string>
		</dict>
		<dict>
			<key>businessName</key>
			<string>AuctionModule</string>
			<key>businessDesc</key>
			<string>拍卖模块</string>
		</dict>
		<dict>
			<key>businessName</key>
			<string>ELifeIntegralPlayground</string>
			<key>businessDesc</key>
			<string>积分乐园模块</string>
		</dict>
		<dict>
			<key>businessName</key>
			<string>MessageCenter</string>
			<key>businessDesc</key>
			<string>消息中心(活动消息、各个组件消息)</string>
		</dict>
		<dict>
			<key>businessName</key>
			<string>WebComponent</string>
			<key>businessDesc</key>
			<string>Web组件</string>
		</dict>
		<dict>
			<key>businessName</key>
			<string>ELifeEntrance</string>
			<key>businessDesc</key>
			<string>App入口（管理应用keyWindow以及rootViewcontroller、功能引导、广告、外部打开）</string>
		</dict>
		<dict>
			<key>businessName</key>
			<string>AppCheck</string>
			<key>businessDesc</key>
			<string>App检查（版本检查、是否全部服务停止，需要挂起维护）</string>
		</dict>
		<dict>
			<key>businessName</key>
			<string>UserModule</string>
			<key>businessDesc</key>
			<string>用户模块</string>
		</dict>
		<dict>
			<key>businessName</key>
			<string>ShareModule</string>
			<key>businessDesc</key>
			<string>分享模块</string>
		</dict>
		<dict>
			<key>businessName</key>
			<string>PayModule</string>
			<key>businessDesc</key>
			<string>支付模块</string>
		</dict>
		<dict>
			<key>businessName</key>
			<string>ShoppingModule</string>
			<key>businessDesc</key>
			<string>购物模块(商城、拼团)</string>
		</dict>
		<dict>
			<key>businessName</key>
			<string>PlayModule</string>
			<key>businessDesc</key>
			<string>夺宝模块</string>
		</dict>
		<dict>
			<key>businessName</key>
			<string>LiveModule</string>
			<key>businessDesc</key>
			<string>直播模块</string>
		</dict>
	</array>
</dict>
</plist>
